{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="KE4b83mp_wwoAfsQgHZy3ogHPcuozRqcXsWb5LcwAN0" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155374888-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-155374888-1');
    </script>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Divination on chamomile all zodiac Signs</title>
    <meta name="keywords" content="Divination on chamomile all zodiac Signs    " />
    <meta name="description" content="{{ article.body|striptags }}" />
    <link rel="shortcut icon" type="image/png" href='static/css/covers/favicon.png' />
    <meta property="og:title" content="Divination on chamomile all zodiac Signs " />
    <meta property="og:description" content="For several years, this divination has been around, and it is in this form that girls have divined their favorites. If you love chamomile, then you have this online divination. The chamomile is known to be a form of magical plant from ancient times that was even used in ancient Rome as a medicine. You can ask the following questions in this divination: I love you - I dont love you or yes and no. Chamomile reading doesnt take a lot of knowledge and skills, just cut out the sheets and the last sheet will tell you what you think or feel about your loved one. Oh, good luck!    " />
    <meta property="og:url" content="flower/" />
    <meta property="og:image" content="/static/css/covers/divination.jpg "/>
    <meta property="og:site_name" content="Dailyhoroscopee.com" />
    <link rel="shortcut icon" type="image/png" href="{% static 'css/covers/favicon.png' %}" />


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/gvirila.css' %}">
</head>

<body>

    <div>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="/"><img src="{% static 'assets/img/eye.png' %}" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a href="/" class="nav-link">Horoscope</a>
                        </li>
                        <li class="nav-item active">
                            <a href="/openblog" class="nav-link">Blog</a>
                        </li>
                        <li class="nav-item active">
                            <a href="/Divination-on-chamomile/" class="nav-link">Divination</a>
                        </li>
                    </ul>
                    <div class="form-inline my-2 my-lg-0">

                        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- horizontalAd -->
                        <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px"
                            data-ad-client="ca-pub-8283141263662455" data-ad-slot="9651234283"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>

                    </div>
                </div>
            </nav>
        </div>

        <div class="header3 ">Divination on chamomile</div>

        <div class="container">
            <div class="row">

                <div class="col-sm-9 col-md-12 col-lg-9">
                    <div class="container">
                        
                        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- horizontalAd -->
                        <ins class="adsbygoogle"
                             style="display:inline-block;width:728px;height:90px"
                             data-ad-client="ca-pub-8283141263662455"
                             data-ad-slot="9651234283"></ins>
                        <script>
                             (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                        <div class="blog_">For several years, this divination has been around, and
                            it is in this form that girls have divined their favorites. If you love
                            chamomile, then you have this online divination. The chamomile is known to
                            be a form of magical plant from ancient times that was even used in ancient
                            Rome as a medicine.
                            You can ask the following questions in this divination: "I love you - I
                            don't love you" or "yes and no." Chamomile reading doesn't take a lot of
                            knowledge and skills, just cut out the sheets and the last sheet will tell
                            you what you think or feel about your loved one. Oh, good luck!</div>
                            <div class="gvirilaclass">
                                <b id=text>Click to start</b>
                                <img src="https://i.stack.imgur.com/coLCe.png" class="center">
                                <img src="https://i.stack.imgur.com/YXBo4.png">
                                <img src="https://i.stack.imgur.com/YXBo4.png">
                                <img src="https://i.stack.imgur.com/YXBo4.png">
                                <img src="https://i.stack.imgur.com/YXBo4.png">
                                <img src="https://i.stack.imgur.com/YXBo4.png">
                                <img src="https://i.stack.imgur.com/YXBo4.png">
                                <img src="https://i.stack.imgur.com/YXBo4.png">
                                <img src="https://i.stack.imgur.com/YXBo4.png">
                                <img src="https://i.stack.imgur.com/YXBo4.png">
                                <img src="https://i.stack.imgur.com/YXBo4.png">
                                <img src="https://i.stack.imgur.com/YXBo4.png">
                                <img src="https://i.stack.imgur.com/YXBo4.png">
                                <img src="https://i.stack.imgur.com/YXBo4.png">
                                <img src="https://i.stack.imgur.com/YXBo4.png">
                                <img src="https://i.stack.imgur.com/YXBo4.png">
                                <img src="https://i.stack.imgur.com/YXBo4.png">
                                <img src="https://i.stack.imgur.com/YXBo4.png">
                                <img src="https://i.stack.imgur.com/YXBo4.png">
                                <img src="https://i.stack.imgur.com/YXBo4.png">
                                <img src="https://i.stack.imgur.com/YXBo4.png">
                                <img src="https://i.stack.imgur.com/YXBo4.png">
                                <img src="https://i.stack.imgur.com/YXBo4.png">
                                <img src="https://i.stack.imgur.com/YXBo4.png">
                                <img src="https://i.stack.imgur.com/YXBo4.png">
                                <img src="https://i.stack.imgur.com/YXBo4.png">
                                <img src="https://i.stack.imgur.com/YXBo4.png">
                                <img src="https://i.stack.imgur.com/YXBo4.png">
                                <img src="https://i.stack.imgur.com/YXBo4.png">
                                <img src="https://i.stack.imgur.com/YXBo4.png">
                                <img src="https://i.stack.imgur.com/YXBo4.png">
                                <img src="https://i.stack.imgur.com/YXBo4.png">
                            </div>
                        <div class="center">
                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <!-- horizontalAd -->
                            <ins class="adsbygoogle" style="display:inline-block;height:90px;width: 99%;margin: 0 auto"
                                data-ad-client="ca-pub-8283141263662455" data-ad-slot="9651234283"></ins>
                            <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                        </div>
                        <div class="container">
                            <div class="choose_zodiac">
                                <h3 class="text-center">Blog List</h3>
                            </div>
                        </div>

                        <div class="">
                            <div class="story1 owl-carousel owl-theme">
                                {% for a in yvavili %}
                                <a href="/openblog/{{ a.slug }}" class="story-item item">
                                    <img src="{{ a.image.url }}" class="owl-articles-image">
                                    <span class="owl-articles-text">{{a.Title }}</span>
                                </a>
                                {% endfor %}
                            </div>
                        </div>

                        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <ins class="adsbygoogle"
                            style="display:block; text-align:center;"
                            data-ad-layout="in-article"
                            data-ad-format="fluid"
                            data-ad-client="ca-pub-8283141263662455"
                            data-ad-slot="3835635551"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                        
                    </div>


                </div>

                <div class="col-sm-3 col-md-12 col-lg-3 rightNavRelative">
                    <div class="ScrollBar">
                        <div class="AdsStlye">Google Ads</div>
                        <div class="mb-10"></div>
                        <div>
                       
                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            
                            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8283141263662455"
                                data-ad-slot="9123786529" data-ad-format="auto" data-full-width-responsive="true"></ins>
                            <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>

                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>




       <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
       <script src="{% static 'assets/js/jquery.js' %}"></script>
       <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
       <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>



       <script>
           $(document).ready(function () {
               $('.story1').owlCarousel({
                   center: false,
                   items: 3,
                   loop: true,
                   margin: 10,
                   autoWidth: true,
                   dots: false,
               });

               $('.articleData p:nth-child(5n)').each(function () {
                   $(this).append('');
               });

           });
       </script>

       <script>
           let ptl = document.querySelectorAll(".gvirilaclass img:not(.center)");
           let rot = 360 / ptl.length;
           let rdm = 3;
           let text = document.querySelector(".gvirilaclass #text");

           for (let i = 0; i < ptl.length; i++) {
               ptl[i].addEventListener("click", function () {
                   this.style.opacity = "0";
                   this.style.pointerEvents = "none";
                   let x = Math.floor(Math.random() * 2 + 1);
                   text.innerHTML = x <= 1 ? "YES" : "NO";
               });
               ptl[i].style.transform = "rotate(" + i * rdm * rot + "deg)";
           }
       </script>

</body>

<footer class="footer">
<div class="container">
   <span class="text-muted">© Copyright 2020 - DailyHoroscopee.coom</span>
</div>
</footer>

</html>