{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="KE4b83mp_wwoAfsQgHZy3ogHPcuozRqcXsWb5LcwAN0" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155374888-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-155374888-1');
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}
        Daily Horoscope for you.
        {% endblock title %}</title>

    <meta name="keywords" content="horoscope, free horoscope, daily horoscope, horoscope for today, love horoscope, monthly horoscope" />
    <meta name="description"
        content="Find free daily, weekly, monthly and 2020 horoscopes at Dailyhoroscopee.com, your one stop shop for all things astrological. " />
    <meta property="og:title" content="Daily horoscope - Dailyhoroscopee.com" />
    <meta property="og:description" content="Daily horoscope - Dailyhoroscopee.." />
    <meta property="og:url" content="index.html" />
    <meta property="og:image" content="covers/choujou.png" />
    <meta property="og:site_name" content="Dailyhoroscope.tech" />
    <link rel="shortcut icon" type="image/png" href="{% static 'css/covers/favicon.png' %}" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>

<body>

    <div>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="/"><img src="{% static 'assets/img/eye.png' %}" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a href="/" class="nav-link">Horoscope</a>
                        </li>
                        <li class="nav-item active">
                            <a href="/openblog" class="nav-link">Blog</a>
                        </li>
                        <li class="nav-item active">
                            <a href="/Divination-on-chamomile/" class="nav-link">Divination</a>
                        </li>
                    </ul>
                    <div class="form-inline my-2 my-lg-0">

                        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- horizontalAd -->
                        <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px"
                            data-ad-client="ca-pub-8283141263662455" data-ad-slot="9651234283"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>

                    </div>
                </div>
            </nav>
        </div>

        <div class="header3 ">Horoscopes</div>

        <div class="container">
            <div class="choose_zodiac">
                <h3 class="text-center">Your Zodiac signs</h3>
            </div>
        </div>

        <div class="container">
            
            <div class="center">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- horizontalAd -->
                <ins class="adsbygoogle" style="display:inline-block;height:90px;width: 99%;margin: 0 auto"
                    data-ad-client="ca-pub-8283141263662455" data-ad-slot="9651234283"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>

            <div class="row">

                {% for sign in SignsLists %}
                <div class="col-sm-4 col-md-4 col-lg-2 mobile_col_width">
                    <div class="horoscope_box">
                        <a href="/horoscope/{{ sign.Title }}/Daily" class="{{ sign.Title }}">
                            <div class="horoscope_box_title">
                                {{ sign.Image|safe }}
                                <div class="horoscope_box_title_text left">
                                    <span>{{ sign.Title|safe }}</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}

            </div>
            
            

            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Link Ads -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-8283141263662455"
                data-ad-slot="2576319038"
                data-ad-format="link"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>

        </div>

        <div class="container">
            <div class="choose_zodiac">
                <h3 class="text-center">Blog List</h3>
            </div>
        </div>

        <div class="container">
            <div class="story1 owl-carousel owl-theme">
                {% for ssss in arti %}
                <a href="openblog/{{ ssss.slug }}" class="story-item item" >
                    <img src="{{ ssss.image.url }}" alt="{{ssss.Title }}"
                        class="owl-articles-image">
                    <span class="owl-articles-text">{{ssss.Title }}</span>
                </a>
                {% endfor %}
            </div>

           


        </div>
    </div>




    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>


    <script>
        $(document).ready(function () {
            $('.story1').owlCarousel({
                center: false,
                items: 3,
                loop: true,
                margin: 10,
                autoWidth: true,
                dots: false,
            });
        });
    </script>

</body>

<footer class="footer">
    <div class="container">
        <span class="text-muted">© Copyright 2020 - DailyHoroscopee.com</span>
    </div>
</footer>


</html>